/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos la altura de la ventana */
}

main {
    flex: 1; /* Se expande para llenar el espacio disponible */
    display: flex;
    flex-direction: column;
}

.contenedor-principal {
    flex: 1; /* Se expande para llenar el espacio disponible */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos la altura de la ventana */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 4px solid #2D3648;
}

.logo {
    margin-left: 3.8rem;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 3rem; /* Font size relative to base */
    padding: 20px;
    border-radius: 7px;
  }
  

.tabs {
    display: flex;
    gap: 1rem;
}

.tab {
    color: #2D3648;
    font-size: 1.4rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #2D3648;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
}

.tab:hover::after,
.tab:focus::after {
    transform: scaleX(1);
}

.submenu {
    display: none;
    position: absolute;
    z-index: 50;
    padding-top: 0.5rem;
}

.group:hover .submenu {
    display: block;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

/* Button styles */
.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    margin-top: 5rem !important;
    border: 2px solid #2D3648;
    background-color: #2D3648;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Section styles */
section {
    background-color: #ffffff;
    margin: 3rem;
    padding: 2rem;
}

section img {
    width: 100%;
    height: auto;
}

/* Estilos para la sección de Bienestar */
.objectives {
    padding: 3rem;
    background-color: #ffffff;
}

.objectives h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.objectives p {
    text-align: center;
    font-size: 1.25rem;
    margin: 0 auto;
    max-width: 800px;
}

.slidebar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.slide-item {
    cursor: pointer;
    text-align: center;
    border: 2px solid transparent; /* Border para la selección */
    transition: border-color 0.3s;
    padding: 10px; /* Añadir padding para asegurar espacio alrededor de la imagen */
    box-sizing: border-box; /* Incluir el borde en el cálculo del tamaño */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el texto debajo de la imagen */
    position: relative; /* Asegura que el borde se muestre correctamente */
}

.slide-item img {
    display: block;
    margin: 0 auto;
    width: 80px; /* Ajustar el tamaño de las imágenes */
    height: auto;
}

.slide-item.selected {
    border-color: #00567F; /* Color del borde para la selección */
}

.slide-item.selected img {
    box-shadow: 0 0 0 4px #00567F; /* Añadir un contorno adicional si el borde sigue sin aparecer */
}
.resources {
    border-radius: 10px; /* Bordes redondeados */
    margin: 50px;
    display: flex;
    
 
}

.card-container {
    width: 85%; /* Ajusta el ancho de la tarjeta */
    height: auto; /* Altura automática basada en el contenido */
    max-height: 50%; /* Reduce la altura máxima al 70% del contenedor padre */
    margin: -70px 50px !important; /* Centra horizontalmente el contenedor */
    
    flex-direction: column;
    
    justify-content: center; /* Centra verticalmente el contenido dentro del contenedor */
    padding: 10px; /* Espacio interno del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    
}

.frame-video {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 390px; /* Altura recomendada para videos de YouTube en relación de aspecto 16:9 */
    border: none; /* Elimina el borde del iframe */
    border-radius: 8px; /* Ajusta el radio del borde si es necesario */
}

/* Estilo para el contenido dentro del contenedor de la tarjeta */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el contenido tome el 100% del ancho del contenedor */
    padding: 10px; /* Agrega padding para asegurar que el contenido no toque los bordes */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho y alto */
}

/* Estilo para el botón dentro del contenedor de la tarjeta */
.card-container .btn {
    margin-top: 45px !important; /* Espacio superior para el botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #2D3648; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-align: center; /* Centra el texto del botón */
}

.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta la cantidad de columnas según el tamaño del contenedor */
    gap: 20px; /* Espacio entre los contenedores de las imágenes y el video */
    padding: 20px; /* Espacio interno del contenedor principal */
}

.contenedor-imagen, .contenedor-video {
    border: 2px solid black; /* Bordes visibles para los contenedores */
    padding: 10px; /* Espacio interno de cada contenedor */
}

.contenedor-imagen img, .contenedor-video video {
    max-width: 100%; /* Ajusta las imágenes y los videos para que no excedan el tamaño del contenedor */
    height: auto;
}

.info-adicional {
    display: none;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-adicional.show {
    display: block;
}

.contenido-yoga, .contenido-pesoCorporal, .contenido-cardio, .contenido-resistencia, .contenido-fuerza, .contenido-estiramiento, .contenido-nutricion {
    display: none;
}

.contenido-activo {
    display: block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.bg-white {
    background-color: #ffffff;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.btn2 {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #2D3648;
    border: 2px solid #2D3648;
    margin-top: 3rem;
}

.btn2:hover,
.btn2:focus {
    background-color: #2D3648;
    color: #ffffff;
}

/* Botones */
.buttons-section .action-button {
    background-color: #2D3648;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .buttons-section .action-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .tabs {
        margin-top: 1rem;
        flex-direction: column;
    }

    .tab {
        margin-bottom: 1rem;
    }

    .slidebar {
        flex-direction: column;
        align-items: center;
    }
    .frame-video {
        height: auto; /* Ajusta la altura automáticamente para pantallas pequeñas */
    }
}

/* Footer styles */
footer {
    background-color: #2D3648;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Asegura que el footer se empuje al final */
    flex-shrink: 0; /* Evita que el footer se reduzca en tamaño */
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-bottom {
    font-size: 0.8rem;
    color: #ccc;
}

/* Responsive styles */
@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    .footer-left, .footer-right {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
