<div class="yoga-intro-container p-4">
    <div class="frame-container">
        <video class="frame-video" controls>
            <source src="assets/principiosDelYoga.mp4" type="video/mp4">
            Tu navegador no soporta el formato de video.
        </video>
        <button class="close-button" (click)="closeFrame()">Volver a la página anterior</button>
        <div class="top-card-container p-4 flex items-center justify-between">
            <div class="flex items-center">
                <img src="assets/levantamiento-de-pesas.png" alt="Levantamiento de Pesas" class="left-image mr-4">
                <div>
                    <h1 class="title">Resistencia</h1>
                    <p class="description">Rutinas enfocadas en aumentar la capacidad de esfuerzo prolongado.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="yoga-intro-content p-4">
        <div class="card-container bg-white p-4 shadow-lg">
            <h1 class="section-title">Principios del Yoga</h1>
            <p class="section-description">El yoga es mucho más que una serie de posturas; es una práctica que busca equilibrar la mente, el cuerpo y el espíritu. Con sus raíces en la antigua India, el yoga ofrece un enfoque integral para la salud y el bienestar. A continuación, exploraremos los principios fundamentales que sustentan esta práctica milenaria:</p>
            <ul class="list-disc pl-5 mb-4">
                <li><strong>Unidad y Equilibrio:</strong> El yoga busca la unión entre el cuerpo y la mente, promoviendo un equilibrio interno que se refleja en el bienestar general.</li>
                <li><strong>Consciencia del Cuerpo:</strong> Cada postura y movimiento en el yoga está diseñado para aumentar la consciencia del propio cuerpo, mejorando la postura y la alineación.</li>
                <li><strong>Respiración y Energía:</strong> La respiración consciente es clave en el yoga. A través de técnicas de respiración, se regula la energía vital y se apoya la concentración y la calma.</li>
                <li><strong>Mindfulness y Meditación:</strong> La meditación y la práctica de mindfulness son esenciales para conectar con el presente y fomentar una mente tranquila y centrada.</li>
                <li><strong>Desarrollo Personal:</strong> El yoga fomenta el crecimiento personal y la autoaceptación, alentando a cada practicante a desarrollar una mayor comprensión de sí mismo.</li>
            </ul>
            <h2 class="text-xl font-bold mb-2">Beneficios Claves del Yoga</h2>
            <ul class="list-disc pl-5 mb-4">
                <li><strong>Reducción del Estrés:</strong> Las prácticas de yoga ayudan a reducir los niveles de estrés y a promover una mayor sensación de calma y relajación.</li>
                <li><strong>Mejora de la Flexibilidad:</strong> A través de las posturas, el yoga mejora la flexibilidad y fortalece los músculos, contribuyendo a una mayor movilidad.</li>
                <li><strong>Aumento de la Concentración:</strong> La práctica regular del yoga fortalece la capacidad de concentración y enfoque, beneficiando tanto a la mente como al cuerpo.</li>
                <li><strong>Bienestar Integral:</strong> El yoga promueve un bienestar integral, influyendo positivamente en la salud física, mental y emocional.</li>
            </ul>
            <h2 class="text-xl font-bold mb-2">Cómo Integrar el Yoga en tu Vida</h2>
            <ul class="list-disc pl-5 mb-4">
                <li><strong>Inicia con Posturas Básicas:</strong> Comienza con posturas sencillas para familiarizarte con la práctica y construir una base sólida.</li>
                <li><strong>Establece una Rutina Regular:</strong> Practicar yoga de manera regular te ayudará a integrar sus beneficios en tu vida diaria.</li>
                <li><strong>Busca Recursos y Apoyo:</strong> Considera unirte a clases o grupos de yoga para obtener orientación y motivación adicional.</li>
                <li><strong>Adapta la Práctica a tus Necesidades:</strong> El yoga es flexible y puede adaptarse a tus necesidades individuales y objetivos específicos.</li>
            </ul>
            <p class="mt-4">Recuerda, el yoga es un viaje personal que se adapta a cada individuo. Disfruta de la práctica y explora los principios del yoga a tu propio ritmo.</p>
        </div>
    </div>
</div>
