/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Base font size */
}

/* Navbar styles */
nav {
  position: fixed; /* Mantiene el navbar fijo en la parte superior */
  top: 0; /* Alineado en la parte superior */
  left: 0; /* Alineado a la izquierda */
  width: 100%; /* Ocupa todo el ancho de la página */
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos */
  background-color: #042870; /* Color de fondo */
  border-bottom: 4px solid #2D3648; /* Borde inferior */
  margin-bottom: 0; /* Elimina el margen inferior */
  padding: 16px; /* Ajusta el padding según sea necesario */
}

.logo {
  margin-left: 3.8rem;
  padding: 20px;
}

.logo-img {
    
  width: 70px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}


.tabs {
  margin-left: 7rem;
  display: flex;
  gap: 1rem; /* Responsive gap */
}

.tab {
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}

.tab:hover::after,
.tab:focus::after {
  transform: scaleX(1);
}

.submenu {
  display: none;
  position: absolute;
  z-index: 50;
  padding-top: 0.5rem;
}

.group:hover .submenu {
  display: block;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

/* Button styles */
.buttons {
  display: flex;
  gap: 1rem;
  margin-right: 7rem;
}

.btn, .btn2 {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn {
  border: 2px solid #2D3648;
  background-color: #ffffff;
  color: #2D3648;
}

.btn2 {
  
  border: 2px solid #ffffff;
  background-color: #00567F;
  color: #ffffff;
}
  /* Section styles */
  section {
    background-color: #ffffff;
    margin: 3rem;
    padding: 8rem;
  }
  
  section img {
    width: 100%;
    height: auto;
  }
  
  .objectives {
    padding: 3rem;
  }
  
  .objectives h1 {
    text-align: center;
    font-size: 3rem;
  }
  
  .objectives p {
    font-size: 1.25rem;
  }
  
  /* Background styles */
  #background-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #background-section h1 {
    margin: 3rem;
    font-size: 3rem;
  }
  
  #background-section button {
    margin: 3rem;
    font-size: 1.875rem;
    width: 200px;
  }
  /* Card styles */
.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Más sombra para profundidad */
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px; /* Aumento del ancho máximo */
  margin: 1rem auto;
  border-radius: 10px; /* Bordes redondeados */
}

/* Mejorar el diseño del contenido */
.card-content {
  padding: 1.5rem; /* Ajustar el relleno para más espacio */
  text-align: center;
}

/* Ajustar el tamaño de los textos del título */
.card h1 {
  font-size: 2.8rem; /* Tamaño de fuente más grande */
  color: #2D3648;
  margin-bottom: 20px;
  font-weight: 700; /* Aumentar el grosor del texto */
}

/* Mejorar el tamaño y el espaciado del texto */
.card p {
  font-size: 1.4rem; /* Tamaño de fuente ligeramente mayor */
  color: #000000;
  margin-bottom: 20px;
  line-height: 1.5; /* Aumentar la altura de línea para mejor legibilidad */
}

/* Estilo del botón */
.card button {
  background-color: #007bff; /* Ajustar color de fondo */
  font-size: 1.6rem; /* Aumento del tamaño de la fuente */
  color: #ffffff;
  padding: 12px 24px; /* Aumento del relleno para mejor aspecto */
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Añadir transición para efectos adicionales */
  font-weight: 600; /* Hacer el texto más prominente */
}

.card button:hover {
  background-color: #0056b3; /* Cambiar color al pasar el ratón */
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}

/* Estilo de los labels */
label {
  font-size: 1.2rem; /* Tamaño de fuente mayor */
  color: #333333; /* Color de texto más oscuro para contraste */
  margin-bottom: 0.5rem; /* Espaciado reducido para mejor alineación */
  display: block; /* Asegurar que el label esté en una línea separada */
  font-weight: 500; /* Grosor moderado del texto */
}

  
  /* Footer styles */
  footer {
    background-color: #2D3648;
    color: #ffffff;
    padding: 3rem 5rem 4rem;
  }
  
  .footer-title {
    margin-bottom: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .tabs {
      display: none; /* Ocultar tabs en pantallas pequeñas */
    }
  
    .buttons {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo {
      margin-bottom: 1rem; /* Espacio entre el logo y los botones */
    }
  
    section {
      padding: 1rem;
    }
  
    .card {
      padding: 1rem;
    }
  
    .card img {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .tabs {
      display: flex;
      gap: 1rem;
    }
  
    .card {
      flex-direction: row;
    }
  
    .card img {
      width: 50%;
    }
  
    .card-content {
      width: 50%;
    }
  }
  
