<div class="yoga-intro-container p-4">
  <div class="frame-container">
      <img src="assets/frameGuia.png" alt="Frame Guide" class="frame-guide">
      <button class="close-button" (click)="closeFrame()">Volver a la página anterior</button>
      <div class="top-card-container p-4 flex items-center justify-between">
          <div class="flex items-center">
              <img src="assets/levantamiento-de-pesas.png" alt="Levantamiento de Pesas" class="left-image mr-4">
              <div>
                  <h1 class="title">Resistencia</h1>
                  <p class="description">Rutinas enfocadas en aumentar la capacidad de esfuerzo prolongado.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="yoga-intro-content p-4">
      <div class="card-container bg-white p-4 shadow-lg">
          <h1 class="section-title">Guía para principiantes</h1>
          <p class="section-description">El yoga es una disciplina milenaria originaria de la India que combina posturas físicas (asanas), respiración (pranayama) y meditación. Es una práctica que ofrece numerosos beneficios para la salud física y mental, como:</p>
          <ul class="list-disc pl-5 mb-4">
              <li><strong>Mayor flexibilidad:</strong> Las asanas estiran y fortalecen los músculos, aumentando la flexibilidad del cuerpo.</li>
              <li><strong>Reducción del estrés:</strong> Las técnicas de respiración y meditación ayudan a calmar la mente y reducir la ansiedad.</li>
              <li><strong>Mejora de la fuerza:</strong> Muchas posturas requieren fuerza y equilibrio, tonificando los músculos.</li>
              <li><strong>Aumento de la concentración:</strong> La práctica regular del yoga mejora la concentración y la atención plena.</li>
              <li><strong>Bienestar general:</strong> El yoga promueve un estado de bienestar físico y mental, mejorando la calidad de vida.</li>
          </ul>
          <h2 class="text-xl font-bold mb-2">Los Beneficios del Yoga para Principiantes</h2>
          <ul class="list-disc pl-5 mb-4">
              <li><strong>Adaptable a todos los niveles:</strong> Existen diferentes estilos de yoga y modificaciones de las posturas para adaptarse a cualquier nivel de condición física.</li>
              <li><strong>Bajo impacto:</strong> El yoga es una actividad de bajo impacto, lo que lo hace adecuado para personas de todas las edades.</li>
              <li><strong>Mejora la postura:</strong> Las posturas de yoga ayudan a corregir la postura y a alinear el cuerpo.</li>
              <li><strong>Conexión mente-cuerpo:</strong> El yoga fomenta la conexión entre la mente y el cuerpo, lo que te permite ser más consciente de tus sensaciones físicas y emocionales.</li>
          </ul>
          <h2 class="text-xl font-bold mb-2">Cómo Empezar</h2>
          <ul class="list-disc pl-5 mb-4">
              <li><strong>Busca un instructor cualificado:</strong> Un instructor te guiará en la ejecución correcta de las posturas y te ayudará a evitar lesiones.</li>
              <li><strong>Elige un estilo de yoga:</strong> Hay muchos estilos de yoga, desde el suave y relajante hasta el más dinámico y vigoroso.</li>
              <li><strong>Usa ropa cómoda:</strong> Opta por ropa que te permita moverte libremente.</li>
              <li><strong>Crea un espacio tranquilo:</strong> Busca un lugar tranquilo y libre de distracciones para practicar.</li>
              <li><strong>Sé paciente:</strong> El yoga es un viaje, no una carrera. Sé paciente contigo mismo y disfruta del proceso.</li>
          </ul>
          <h2 class="text-xl font-bold mb-2">Algunos estilos de yoga populares para principiantes:</h2>
          <ul class="list-disc pl-5">
              <li><strong>Hatha Yoga:</strong> Un estilo básico que se enfoca en las posturas fundamentales y la respiración.</li>
              <li><strong>Vinyasa Yoga:</strong> Un estilo más dinámico que conecta el movimiento con la respiración.</li>
              <li><strong>Yin Yoga:</strong> Un estilo lento y pasivo que se enfoca en estirar los tejidos conectivos profundos.</li>
          </ul>
          <p class="mt-4">Recuerda: Lo más importante es encontrar un estilo de yoga que disfrutes y que se adapte a tus necesidades y objetivos.</p>
      </div>
  </div>
</div>
